In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/Users/hugo/Documents/Github/ProyectoDDCGrupoA/dataprocessed/datos_preprocesados.csv')
df

,timestamp_formatted,model_name,Price (Dollar),Storage (GB),review,timestamp,stars,country,language,tk_review,timestamp_nanosec
0,01/01/1970,iPhone 13 Pro Max,1049.70,128,device does not come with a power adapter! how...,1970-01-01,1,the United States,en,"['device', 'come', 'power', 'adapter', '!', 'e...",0
1,01/01/1970,13 Pro Max,579.99,128,"bought the product, i was very skeptical at fi...",1970-01-01,5,the United States,en,"['bought', 'product', ',', 'skeptical', 'first...",0
2,01/01/1970,iPhone 13,767.14,128,not a verified buyer as i purchased the model ...,1970-01-01,2,the United States,en,"['verified', 'buyer', 'purchased', 'model', '1...",0
3,01/01/1970,iPhone 14,552.01,128,if i could send negative stars i would. the ph...,1970-01-01,1,the United States,en,"['could', 'send', 'negative', 'stars', 'would'...",0
4,01/01/1970,iPhone SE,199.99,16,the phone came a day early which was great. it...,1970-01-01,4,the United States,en,"['phone', 'came', 'day', 'early', 'great', '.'...",0
...,...,...,...,...,...,...,...,...,...,...,...
585,25/12/1974,iPhone XR,168.39,64,got it to replace my 13 year olds xr in a pinc...,1974-12-25,5,the United States,en,"['got', 'replace', '13', 'year', 'olds', 'xr',...",157161600000000000
586,28/12/1974,iPhone XR,181.00,64,my little niece is so inlove with this phoneðŸ˜Œ ...,1974-12-28,5,the United States,en,"['little', 'niece', 'inlove', 'phone', 'ðŸ˜Œ', 'b...",157420800000000000
587,30/12/1974,iPhone XR,181.00,64,great buy\nread more,1974-12-30,5,the United States,en,"['great', 'buy', 'read']",157593600000000000
588,01/01/1975,iPhone XR,168.39,64,"hey guys, so i ordered this phone on the 19th ...",1975-01-01,5,the United States,en,"['hey', 'guys', ',', 'ordered', 'phone', '19th...",157766400000000000
589,09/01/1975,iPhone XR,181.00,64,"no complaints, arrived in excellent condition ...",1975-01-09,5,the United States,en,"['complaints', ',', 'arrived', 'excellent', 'c...",158457600000000000